<footer class="py-6 text-center">
    <p>&copy; <a href="https://github.com/AulsenDzangui/ATReader" target="_blank" rel="noopener noreferrer" class="text-text"> 2024 ATReader</a>. Tous droits réservés.</p>
</footer>
