<header class="flex items-center justify-between p-3 shadow-lg bg-background">
    <div class="flex items-center justify-between w-full">
        <a href="/" title="Accueil" class="no-underline text-xl">
            <div class="bg-secondary hover:bg-secondary-light p-2 rounded-sm shadow-md">
                <span class="text-text">ATReader</span>
            </div>
        </a>
        <nav class="flex items-center space-x-4 overflow-hidden">
            <a class="no-underline p-2 font-bold hover:bg-secondary text-text rounded-sm" href="/" title="Accueil">Accueil</a>
            <a class="no-underline p-2 font-bold hover:bg-secondary text-text rounded-sm" href="/mentions-legales" title="Mentions légales et contact">Contact</a>
            <a class="no-underline p-2 font-bold hover:bg-secondary text-text rounded-sm" href="/a-propos" title="À propos">À propos</a>
        </nav>
    </div>
</header>